# NBA API

In [1]:
import pandas as pd

In [2]:
from nba_api.stats.endpoints import playercareerstats, TeamGameLogs, TeamEstimatedMetrics
from nba_api.stats.endpoints import scoreboard, leaguegamefinder
from nba_api.stats.static import teams, players

ModuleNotFoundError: No module named 'nba_api'

# Player Career Statistics

In [ ]:
# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999') 

# pandas data frames (optional: pip install pandas)
career.get_data_frames()[0]

# json
# career.get_json()

# dictionary
 #career.get_dict()

# Team Data

In [ ]:
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print("Number of teams fetched: {}".format(len(nba_teams)))
pd.DataFrame(nba_teams).head()

# Team Game Logs

In [ ]:
mav_id = '1610612742'

logs = TeamGameLogs.DataSet()

logs.get_data_frame(data=)

# Team Estimated Metrics

In [ ]:
TeamEstimatedMetrics

# League Game Finder

In [17]:
celtics_id = '1610612738'
mav_id = '1610612742'

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=mav_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612742,DAL,Dallas Mavericks,0022300515,2024-01-09,DAL vs. MEM,L,240,103,...,0.815,8,25,33,20,9,4,12,17,-17.0
1,22023,1610612742,DAL,Dallas Mavericks,0022300501,2024-01-07,DAL vs. MIN,W,240,115,...,0.700,15,29,44,20,7,8,11,19,7.0
2,22023,1610612742,DAL,Dallas Mavericks,0022300487,2024-01-05,DAL vs. POR,W,240,139,...,0.667,10,42,52,35,11,8,17,21,36.0
3,22023,1610612742,DAL,Dallas Mavericks,0022300472,2024-01-03,DAL vs. POR,W,240,126,...,0.707,7,36,43,25,12,7,11,18,29.0
4,22023,1610612742,DAL,Dallas Mavericks,0022300457,2024-01-01,DAL @ UTA,L,241,90,...,0.500,8,33,41,28,6,5,16,15,-37.0

# Players

In [14]:
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print("Number of players fetched: {}".format(len(nba_players)))
pd.DataFrame(nba_players)

Number of players fetched: 4900

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...       ...                  ...        ...           ...        ...
4895  1627790           Ante Zizic       Ante         Zizic      False
4896    78647             Jim Zoet        Jim          Zoet      False
4897    78648            Bill Zopf       Bill          Zopf      False
4898  1627826          Ivica Zubac      Ivica         Zubac       True
4899    78650           Matt Zunic       Matt         Zunic      False

[4900 rows x 5 columns]

# Scoreboard

In [ ]:
# Today's Score Board
games = scoreboard.ScoreBoard()

# json
games.get_json()

# dictionary
games.get_dict()