In [1]:
import pandas as pd

# Team box scores

In [102]:
# read in each file
two = pd.read_csv("../data/original/br_team_box_scores_2000_2024.csv")
team_bs_df = pd.read_csv("../data/original/br_team_box_scores_1999.csv")

In [90]:
team_bs_df = pd.concat([one, two, three, four, five], ignore_index=True)

In [103]:
# append datasets
# team_bs_df = pd.concat([one, two], ignore_index=True)

# make 'date' the first column
date_column = team_bs_df.pop('date')
team_bs_df.insert(0, 'date', date_column)

In [104]:
team_bs_df.head()

,date,team,outcome,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points
0,1999-11-02,Team.ORLANDO_MAGIC,Outcome.LOSS,240,34,80,0,8,18,27,12,36,17,9,4,22,31,86
1,1999-11-02,Team.CHARLOTTE_HORNETS,Outcome.WIN,240,34,82,10,22,22,37,14,33,25,13,5,21,25,100
2,1999-11-02,Team.GOLDEN_STATE_WARRIORS,Outcome.LOSS,240,34,82,7,18,21,27,18,33,14,4,2,23,29,96
3,1999-11-02,Team.DALLAS_MAVERICKS,Outcome.WIN,240,39,85,2,15,28,34,11,30,22,11,6,13,19,108
4,1999-11-02,Team.PHOENIX_SUNS,Outcome.LOSS,265,43,111,9,22,7,14,21,37,29,9,5,13,28,102

In [105]:
# remove prefixes from categorical columns
columns_to_process = ['team', 'outcome']

for col in columns_to_process:
    team_bs_df[col] = team_bs_df[col].apply(lambda x: x.split('.')[1] if pd.notnull(x) and '.' in x else x)
    team_bs_df[col] = team_bs_df[col].str.replace('_', ' ').str.title()

In [108]:
team_bs_df.head()

,date,team,outcome,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points
0,1999-11-02,Orlando Magic,Loss,240,34,80,0,8,18,27,12,36,17,9,4,22,31,86
1,1999-11-02,Charlotte Hornets,Win,240,34,82,10,22,22,37,14,33,25,13,5,21,25,100
2,1999-11-02,Golden State Warriors,Loss,240,34,82,7,18,21,27,18,33,14,4,2,23,29,96
3,1999-11-02,Dallas Mavericks,Win,240,39,85,2,15,28,34,11,30,22,11,6,13,19,108
4,1999-11-02,Phoenix Suns,Loss,265,43,111,9,22,7,14,21,37,29,9,5,13,28,102

In [109]:
team_bs_df = pd.concat([team_bs_df, two], ignore_index=True)

In [112]:
team_bs_df.head()

,date,team,outcome,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points
0,1999-11-02,Orlando Magic,Loss,240,34,80,0,8,18,27,12,36,17,9,4,22,31,86
1,1999-11-02,Charlotte Hornets,Win,240,34,82,10,22,22,37,14,33,25,13,5,21,25,100
2,1999-11-02,Golden State Warriors,Loss,240,34,82,7,18,21,27,18,33,14,4,2,23,29,96
3,1999-11-02,Dallas Mavericks,Win,240,39,85,2,15,28,34,11,30,22,11,6,13,19,108
4,1999-11-02,Phoenix Suns,Loss,265,43,111,9,22,7,14,21,37,29,9,5,13,28,102

In [113]:
team_bs_df.to_csv('../data/original/br_team_box_scores_2000_2024_2.csv', index=False)

# Player Box Scores

In [119]:
# read in each file
two = pd.read_csv("../data/original/br_player_box_scores_2000_2024.csv")
player_bs_df = pd.read_csv("../data/original/br_player_box_scores_1999.csv")

In [120]:
# append datasets
# player_bs_df = pd.concat([one, two, three, four, five], ignore_index=True)

# make 'date' the first column
date_column = player_bs_df.pop('date')
player_bs_df.insert(0, 'date', date_column)

In [121]:
# remove prefixes from categorical columns
columns_to_process = ['team', 'location', 'opponent', 'outcome']

for col in columns_to_process:
    player_bs_df[col] = player_bs_df[col].apply(lambda x: x.split('.')[1] if pd.notnull(x) and '.' in x else x)
    player_bs_df[col] = player_bs_df[col].str.replace('_', ' ').str.title()

In [122]:
player_bs_df.head()

,date,slug,name,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,...,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score
0,1999-11-02,cassesa01,Sam Cassell,Milwaukee Bucks,Away,Houston Rockets,Win,2250,15,20,...,5,7,1,2,11,1,0,4,5,30.2
1,1999-11-02,vanexni01,Nick Van Exel,Denver Nuggets,Home,Phoenix Suns,Win,2733,12,21,...,5,7,2,7,9,0,0,3,1,29.7
2,1999-11-02,piercpa01,Paul Pierce,Boston Celtics,Away,Toronto Raptors,Win,2273,12,19,...,3,6,1,7,5,2,0,2,3,25.4
3,1999-11-02,odomla01,Lamar Odom,Los Angeles Clippers,Home,Seattle Supersonics,Loss,2607,10,18,...,8,15,2,10,3,2,2,3,1,25.1
4,1999-11-02,hillgr01,Grant Hill,Detroit Pistons,Away,Miami Heat,Loss,3134,16,35,...,8,11,3,6,5,0,1,4,5,23.8

In [123]:
player_bs_df = pd.concat([player_bs_df, two], ignore_index=True)

In [126]:
player_bs_df.head()

,date,slug,name,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,...,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score
0,1999-11-02,cassesa01,Sam Cassell,Milwaukee Bucks,Away,Houston Rockets,Win,2250,15,20,...,5,7,1,2,11,1,0,4,5,30.2
1,1999-11-02,vanexni01,Nick Van Exel,Denver Nuggets,Home,Phoenix Suns,Win,2733,12,21,...,5,7,2,7,9,0,0,3,1,29.7
2,1999-11-02,piercpa01,Paul Pierce,Boston Celtics,Away,Toronto Raptors,Win,2273,12,19,...,3,6,1,7,5,2,0,2,3,25.4
3,1999-11-02,odomla01,Lamar Odom,Los Angeles Clippers,Home,Seattle Supersonics,Loss,2607,10,18,...,8,15,2,10,3,2,2,3,1,25.1
4,1999-11-02,hillgr01,Grant Hill,Detroit Pistons,Away,Miami Heat,Loss,3134,16,35,...,8,11,3,6,5,0,1,4,5,23.8

In [127]:
player_bs_df.to_csv('../data/original/br_player_box_scores_2000_2024_2.csv', index=False)

# Standings

In [26]:
standings_df = pd.read_csv("../data/original/br_standings_2000_2023.csv")

In [27]:
# reorder columns
standings_df = standings_df[['year', 'conference', 'division', 
                             'team', 'wins', 'losses']]

In [28]:
# remove prefixes from categorical columns
columns_to_process = ['team', 'division', 'conference']

for col in columns_to_process:
    standings_df[col] = standings_df[col].apply(lambda x: x.split('.')[1] if pd.notnull(x) and '.' in x else x)
    standings_df[col] = standings_df[col].str.replace('_', ' ').str.title()

In [29]:
standings_df.head()

   year conference  division                team  wins  losses
0  2000    Eastern  Atlantic          Miami Heat    52      30
1  2000    Eastern  Atlantic     New York Knicks    50      32
2  2000    Eastern  Atlantic  Philadelphia 76Ers    49      33
3  2000    Eastern  Atlantic       Orlando Magic    41      41
4  2000    Eastern  Atlantic      Boston Celtics    35      47

In [30]:
standings_df.to_csv('../data/original/br_standings_2000_2023_2.csv', index=False)

# Season Schedule

In [31]:
season_schedule_df = pd.read_csv("../data/original/br_season_schedule_2000_2023.csv")

In [32]:
# reorder columns
season_schedule_df = season_schedule_df[['year', 'start_time', 'home_team', 
                             'away_team', 'home_team_score', 'away_team_score']]

In [33]:
# remove prefixes from categorical columns
columns_to_process = ['home_team', 'away_team']

for col in columns_to_process:
    season_schedule_df[col] = season_schedule_df[col].apply(lambda x: x.split('.')[1] if pd.notnull(x) and '.' in x else x)
    season_schedule_df[col] = season_schedule_df[col].str.replace('_', ' ').str.title()

In [34]:
season_schedule_df.head()

,year,start_time,home_team,away_team,home_team_score,away_team_score
0,2000,1999-11-02 05:00:00+00:00,Charlotte Hornets,Orlando Magic,100,86
1,2000,1999-11-02 05:00:00+00:00,Dallas Mavericks,Golden State Warriors,108,96
2,2000,1999-11-02 05:00:00+00:00,Denver Nuggets,Phoenix Suns,107,102
3,2000,1999-11-02 05:00:00+00:00,Houston Rockets,Milwaukee Bucks,93,98
4,2000,1999-11-02 05:00:00+00:00,Los Angeles Clippers,Seattle Supersonics,92,104

In [35]:
season_schedule_df.to_csv('../data/original/br_season_schedule_2000_2023_2.csv', index=False)

# Player seasons totals

In [55]:
# read in each file
players_season_totals_df = pd.read_csv("../data/original/br_players_season_totals_2000_2023.csv")

In [56]:
# make 'year' the first column
year_column = players_season_totals_df.pop('year')
players_season_totals_df.insert(0, 'year', year_column)

In [ ]:
players_season_totals_df.head()

In [57]:
# remove prefixes from categorical columns
columns_to_process = ['team']

for col in columns_to_process:
    players_season_totals_df[col] = players_season_totals_df[col].apply(lambda x: x.split('.')[1] if pd.notnull(x) and '.' in x else x)
    players_season_totals_df[col] = players_season_totals_df[col].str.replace('_', ' ').str.title()

In [58]:
# extract strings from 'positions' column
import re

def extract_position(text):
    '''
    Converts 'CENTER' to 'Center' and 'POWER FORWARD' to 'Power Forward'
    '''
    match = re.search(r"Position\.\w+: '([\w\s]+)'", text)
    if match:
        return match.group(1).title()  


players_season_totals_df['positions'] = players_season_totals_df['positions'].apply(extract_position)

In [ ]:
players_season_totals_df.head()

In [60]:
players_season_totals_df.to_csv('../data/original/br_players_season_totals_2000_2023_2.csv', index=False)

# Player seasons totals advanced

In [61]:
# read in each file
players_season_totals_adv_df = pd.read_csv("../data/original/br_players_season_totals_advanced_2000_2023.csv")

In [62]:
# make 'year' the first column
year_column = players_season_totals_adv_df.pop('year')
players_season_totals_adv_df.insert(0, 'year', year_column)

In [ ]:
players_season_totals_adv_df.head()

In [64]:
# remove prefixes from categorical columns
columns_to_process = ['team']

for col in columns_to_process:
    players_season_totals_adv_df[col] = players_season_totals_adv_df[col].apply(lambda x: x.split('.')[1] if pd.notnull(x) and '.' in x else x)
    players_season_totals_adv_df[col] = players_season_totals_adv_df[col].str.replace('_', ' ').str.title()

In [65]:
# extract strings from 'positions' column
import re

def extract_position(text):
    '''
    Converts 'CENTER' to 'Center' and 'POWER FORWARD' to 'Power Forward'
    '''
    match = re.search(r"Position\.\w+: '([\w\s]+)'", text)
    if match:
        return match.group(1).title()  


players_season_totals_adv_df['positions'] = players_season_totals_adv_df['positions'].apply(extract_position)

In [ ]:
players_season_totals_adv_df.head()

In [67]:
players_season_totals_adv_df.to_csv('../data/original/br_players_season_totals_advanced_2000_2023_2.csv', index=False)